@import "../variables";
@import "../mixins";

header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: $primary-bg-color;
  padding: 1rem;
  color: $text-color;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .logo {
      grid-column: 2 / 3;
      display: flex;
      align-items: center;
      position: relative;
      left: 2rem;
      font-size: 1.8rem;
      font-weight: bold;
      max-width: 60%;
      img {
        width: 250px;
        height: auto;
      }
      .nav {
        grid-column: 3 / 4;
        display: flex;
        align-items: center;
        gap: 2rem;

        ul {
          list-style-type: none;
          display: flex;
          margin: 0;
          padding: 0;
        }

        li {
          padding: 0.5rem;
        }

        a {
          color: $text-color;
          text-decoration: none;

          &:hover {
            color: $text-hover;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .burger {
    position: absolute;
    right: 2rem;
    display: none;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    width: 50px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
      outline: none;
    }

    .line {
      width: 100%;
      height: 4px;
      background-color: white;
      border-radius: 2px;
      transition: all 0.3s ease;
    }
    &.active .line:nth-child(1) {
      transform: rotate(45deg);
      position: relative;
      top: 9px;
    }

    &.active .line:nth-child(2) {
      opacity: 0;
    }

    &.active .line:nth-child(3) {
      transform: rotate(-45deg);
      position: relative;
      top: -9px;
    }
  }

  @media (max-width: 768px) {
    .nav {
      display: none;
    }

    .nav.open {
      display: block;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: $primary-bg-color;
      width: 100%;

      ul {
        flex-direction: column;
        text-align: center;
      }

      li {
        padding: 1rem 0;
      }
    }

    .burger {
      display: flex;
    }
  }
}
