@use "../_variables" as *;
@use "../_mixins" as *;

.home {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: $font-family;

  @include respond-to("mobile") {
    .hero h1 {
      font-size: 2rem;
    }

    .cta-buttons {
      flex-direction: column;
    }
  }
}
