@import "../variables";

.project-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--text-color);
  }

  .back-button-container {
    text-align: center;
    margin-top: 2rem;

    .back-button {
      padding: 10px 20px;
      background-color: var(--primary-bg);
      color: var(--text-color);
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--text-hover);
        color: var(--primary-bg);
        text-decoration: underline;
      }
    }
  }
}
