@import "../variables";

.project-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: $title-color;
  }

  .back-button-container {
    text-align: center;
    margin-top: 2rem;

    .back-button {
      padding: 10px 20px;
      background-color: $primary-bg-color;
      color: $text-color;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $text-hover;
        color: $primary-bg-color;
        text-decoration: underline;
      }
    }
  }
}
