@use "./_variables" as *;
@use "./_mixins" as *;
@use "./_base";
@use "./components/_header";
@use "./components/_footer";
@use "./components/_blocks";
@use "./pages/_home";
@use "./pages/_about";
@use "./pages/_projects";
@use "./pages/_contact";
@use "./pages/_projectDetails";

.App {
  font-family: $font-family;
  background-color: $page-bg;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  line-height: 1.6;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
    background-color: $page-bg;
  }
}
