@import "./_variables.scss";
@import "./_mixins";
@import "./_base";
@import "./components/_header";
@import "./components/_footer";
@import "./components/_blocks";
@import "./pages/_home";
@import "./pages/_about";
@import "./pages/_projects";
@import "./pages/_contact";
@import "./pages/_projectDetails";

.App {
  font-family: $font-family;
  background-color: $secondary-bg-color;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  line-height: 1.6;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
    background-color: $page-bg;
  }
}
