@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $secondary-bg-color;
  color: $text-color;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
