@import "./_variables.scss";
@import "./_mixins";
@import "./_base";
@import "./components/_header";
@import "./components/_footer";
@import "./pages/_home";

body {
  font-family: $font-family;
  background-color: $secondary-bg-color;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  line-height: 1.6;
}

header {
  background-color: $primary-bg-color;
  padding: 1rem;
  color: $text-color;

  nav {
    ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(4, auto);
      justify-content: space-evenly;

      li {
        padding: 0.5rem;

        a {
          color: $text-color;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            color: $text-hover;
            text-decoration: underline;
          }
          &:focus {
            color: $text-hover;
            text-decoration: underline;
          }
        }
      }
    }
    @include respond-to("large-desktop") {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
    @include respond-to("tablet") {
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
